@charset "utf-8";
.poster-wrapper {
	/* background-image: url(../img/deadpool-trailer-3.jpg); */
	/* background-repeat: no-repeat;
	height: 500px; 
	 background-position: 50% 50%; 
	background-attachment: scroll;
	background-size: cover; */

	height: 500px;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;


	
}
.poster-box {
	padding-top: 11%;
	color: #CECECE;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.video-box {
	width: 23px;
	height: 5px;
}



.container.content {
	padding-top: 50px;
}
.movie-wrapper {
	padding-bottom: 50px;
}
.tvseries-wrapper {
	padding-top: 50px;
}
.text-center.col-md-12 {
	background-color: #3D3939;
	height: 350px;
	padding-top: 70px;
}
.navbar.navbar-default {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}



.subscribe {
	color: #FFFFFF;
}
.row.footer {
	padding-top: 14px;
}

.submit {
	padding-top: 50px;
}
.subscribe-text {
	padding-bottom: 25px;
}


.description {
	background-color: rgba(0,0,0,0.50);
	margin-top: -14px;
}
.fa.fa-star {
	color: #FFCE00;

}
.container.trailer {
	padding-top: 50px;
}

/* youtube */
    .youtube-player {
        position: relative;
        padding-bottom: 56.23%;
        /* Use 75% for 4:3 videos */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
        margin: 5px;
    }
    
    .youtube-player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: transparent;
    }
    
    .youtube-player img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-width: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: auto;
        cursor: pointer;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
    }
    
    .youtube-player img:hover {
        -webkit-filter: brightness(75%);
    }
    
    .youtube-player .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("//i.imgur.com/TxzC70f.png") no-repeat;
        cursor: pointer;
    }

