@charset "utf-8";
.poster-wrapper {
	/* background-image: url(../img/deadpool-trailer-3.jpg); */
	/* background-repeat: no-repeat;
	height: 500px; 
	 background-position: 50% 50%; 
	background-attachment: scroll;
	background-size: cover; */

	height: 500px;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;


	
}
.poster-box {
	padding-top: 11%;
	color: #CECECE;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.video-box {
	width: 23px;
	height: 5px;
}



.container.content {
	padding-top: 50px;
}
.movie-wrapper {
	padding-bottom: 50px;
}
.tvseries-wrapper {
	padding-top: 50px;
}
.text-center.col-md-12 {
	background-color: #3D3939;
	height: 350px;
	padding-top: 70px;
}
.navbar.navbar-default {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}



.subscribe {
	color: #FFFFFF;
}
.row.footer {
	padding-top: 14px;
}
.description {
	background-color: rgba(255,0,4,0.50);
}
